* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* borderとpaddingを内側に */
}

:root {
    --primary-color: #e7dac4;
    --secondary-color: #f26138;
    --card-color: #232323;
    --content-max-width: 1200px;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #111923; /* デフォルト背景色 */
    color: var(--primary-color); /* デフォルト文字色 */
}

@font-face {
    font-family: 'Noto Serif JP';
}

.card {
    background-color: var(--card-color);
    border-radius: 4px;
    padding: 15px;
}

.card-outline {
    border: 2px solid #90846f;
    border-radius: 4px;
}

.button {
    background-color: var(--card-color);
    border-radius: 12px;
}

header {
    background-color: var(--card-color); /* ヘッダ部分の背景色 */

    padding: 20px;

    text-align: center;
    font-size: 2rem;

    border-bottom: 4px solid #444;
}

nav a {
    position: relative;

    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;

    margin: 0 15px;
}

nav a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    height: 2px;
    width: 100%;

    background: linear-gradient(to right, transparent, var(--secondary-color), transparent);
    opacity: 0;

    transition: opacity 0.2s ease;
}

nav a:hover::after {
    opacity: 1;

    transition: opacity 0.2s ease;
}

main {
    margin: 20px;
    padding: 20px;
}

.social-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.social-card {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 600px;
    width: 150%;
    height: 150%;

    padding: 20px;

    text-decoration: none;

    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;

    transition: transform 0.2s, box-shadow 0.2s;

    background-color: #2f2f2f;
}

.social-card i {
    margin-right: 10px;

    font-size: 30px;
}

.social-card:hover {
    transform: scale(1.01);

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 15px;

    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 20px;
}

.gallery-item {
    flex: 1 1 calc(20% - 15px);
    max-width: calc(20% - 15px);

    border-radius: 3px;

    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: contain;

    display: block;
}

.character {
    max-height: 350px;
}

.gallery-item p {
    text-align: center;
    margin: 5px;
}

.thumbnail {
    width: 100%;
    cursor: pointer;

    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.works-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.work-card {
    width: 100%;
    max-width: 800px;
    height: 300px;

    padding: 10px;

    color: #f6e2bf;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    transition: transform 0.2s;
}

.work-card:hover {
    transform: scale(1.01);
}

.work-thumbnail {
    height: 280px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 35%;
    position: relative;
}

.work-thumbnail img {
    position: absolute;
    display: block;

    height: 500px;
    object-fit: cover;

    margin: auto;
}

.work-title {
    flex: 0 0 65%; /* iOSで崩れないか要注意(崩れたら0 0 60%に) */

    padding: 10px;
    font-size: 1.2em;
}

.work-title span {
    display: inline-block;
}

.modal {
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0, 0, 0, 0.9);

    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.modal-content {
    display: flex;

    margin: auto;
    padding: 50px;

    max-width: var(--content-max-width);
    max-height: 100%;
}

.modal-content img {
    object-fit: contain;
    max-width: 100%;
}

.modal-img {
    flex: 0 0 50%;
}

.modal-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.modal-text {
    flex: 1 0 50%;
    margin: 50px auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;

    color: #ddd;

    font-size: 40px;
    font-weight: bold;

    cursor: pointer;
}

.losted {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #b21523;
}

.losted-chara {
    color: #b21523;
}

.diaries {
    max-width: 600px;
    margin: auto;
}

.diaries ul {
    list-style: none;
    padding: 0;
}

.diaries li {
    margin: 10px 0;
    font-size: 1rem;
}

.diaries h2 {
    text-align: start;
}

.diaries a {
    text-decoration: none;
    color: var(--primary-color);
}

.diaries a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.container {
    display: flex;
    gap: 20px;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    flex: 0 0 70%;
    min-width: 200px;
}

.main-content h1 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #c0b5a3;

    text-align: start;
}

.date {
    font-family: 'Noto Sans JP', sans-serif;
    color: #c0b5a3;

    text-align: end;

    display: block;
}

.main-content p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #9a9183;

    margin-bottom: 1.5em;
}

.sidebar {
    flex: 0 0 30%;
    min-width: 200px;
}

.month-list li {
    list-style: none;
}

.month-list button {
    font-family: 'Noto Serif JP', 'Georgia', serif;
    color: var(--primary-color);
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list button:hover {
    background-color: #3c7fb6;
}

.month-toggle {
    background: none;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: start;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.post-list {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.post-list a {
    text-decoration: none;
    color: var(--primary-color);
}

.post-list a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.hidden {
    display: none;
}

.post-list.show {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-item #date {
    flex: 0 0 90px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scroll-to-top {
    display: block;

    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: var(--secondary-color);

    padding: 4px;
    text-align: center;

    transition: transform 0.1s ease;
}

.scroll-to-top:hover {
    transform: scale(1.01);
}

.page-content {
    max-width: 800px;
    margin: 20px auto;
}

code[class*=language-], pre[class*=language-] {
    color: #c0b5a3;
}

h1, h2 {
    font-family: 'Noto Serif JP', 'Georgia', serif;
    text-align: center;
    color #f6e2bf;

    margin-bottom: 15px;
    padding-bottom: 5px;

    border-bottom: 2px solid #424242;
}

h1 {
    font-size: 2em;
}

h1 span {
    display: inline-block;
}

h2 span {
    display: inline-block;
}

h2.left {
    text-align: start;
}

.english {
    font-family: 'Georgia', serif;
}

p {
    font-family: 'Noto Serif JP', 'Georgia', serif;
    margin-bottom: 10px;
}

button {
    background-color: #80cbc4;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4db6ac;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #757575;
    font-size: 0.9rem;
    border-top: 1px solid #333;
    padding-top: 10px;
}

@media (max-width: 700px) {
    header {
        font-size: 1.5rem;
    }

    main {
        padding: 0;
    }
    
    nav a {
        margin: 0 10px;
    }

    .gallery-item {
        flex: 1 1 45%;
        max-width: 50%;
    }

    .social-card {
        width: 300px;
        height: 100px;
        font-size: 16px;
    }

    .social-card i {
        font-size: 24px;
    }

    .work-card {
        height: 200px;
    }

    .work-thumbnail {
        flex: 0 0 20%;
        height: 180px;
        display: flex;
        justify-content: center;
    }

    .work-thumbnail img {
        height: 300px;
    }

    .work-title {
        flex: 0 0 80%;
        padding: 10px;
        font-size: 0.8em;
    }

    .modal-content {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }
}
