---
layout: default
title: Works
---
<h1>Works</h1>
<div class="works-gallery">
    {% for post in site.posts %}
        {% if post.categories contains "works" %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="work-card">
                <div class="work-thumbnail">
                    hoge
                </div>
                <div class="work-title">
                    <h2>{{ post.title }}</h2>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
