---
layout: default
title: Works
---
<h1>{{ page.title }}</h1>
<div class="works-gallery">
    {% for post in site.posts %}
        {% if post.categories contains "works" %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="work-card">
                <div class="work-thumbnail">
                    <img src="{{ site.baseurl }}{{ post.image }}">
                </div>
                <div class="work-title">
                    <h2>{{ post.name }}</h2>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
