<h2>古美津 海</h2>
<p>システム: CoC</p>
<p>年齢: 19歳 身長: 178cm 体重: 57kg</p>
<p>美大生。<br />
身体性と神秘主義をテーマに作品制作をしている。油彩かインスタレーションが多い。<br />
制作費のせいで作品の規模が縮小するのを防ぐため、一度制作費を一切考えずに物資を揃えた後、必死こいてそのお金を工面するという手法をとっていたところ、とうとう本当に首が回らなくなった。<br />
別にあえて自分を追い込んでいるわけではなく、単に想像力が足りないので楽観的予想ばかりしているだけである。そのため制作期間も大幅に予想を外すことがほとんどであり、展示前日の彼のアトリエはいつも明るい。<br />
直感的な判断で行動する。あまり後先考えない。考えられないわけではないのかもしれない。だが考えないことにしている。だって予想は当てにならないし、計画は崩れるものだし、なんというか、確実性への強い不信感があるためだ。安心できる基盤が世界にないからこういう考えになるのかもしれない。ともかく、理性でものを考えたり未来を想像するということを自分でロックしている。<br />
精神的に不安定だがうつ病ではなく、激しい方面の不安定さである。<br />
ものすごく荒んでいるがやさぐれているわけではなく、ピュアな方だ。斜に構えたりはしない。だから耐えられないのかもしれないね。<br />
喋った時に情緒不安定な印象を受けるというわけではない。深く知り合ったらそういう面もたくさん見られるかもしれない。あるいは作品を見ればすぐに分かるだろう。ただ、基本的には物静かに見える。<br />
<br />
こみつかいこみ つかい……<br />
「使い込み」で覚えてください。</p>
