<h2>倉兎 和佳子</h2>
<p>システム: CoC</p>
<p>年齢: 23歳 身長: 172cm 体重: 56kg</p>
<p>でかい。元気。<br />
ネコピョン©のTシャツを着ている。ネオクラシカルメタルが好き。<br />
ネコピョン©とは落雷でネコとウサギが融合した生き物である。Youtubeで低予算なアニメが5話くらい公開されている。株式会社San-yのキャラクター。人気がないのであまりグッズは売っていない。<br />
<br />
調子こいて6弦ベースを練習し始めた。ネックがデカすぎる。弦に金がかかりすぎる。助けてほしい。<br />
使用しているベースはIbanez SR506E。<br />
<br />
高校の頃重度の厨二病だったので黒魔術について知りたくて文化人類学部に入った。入ってからは結局民話を収集しているので全然関係ないことをしている。今の調査対象は宮崎県児湯郡西米良村。西米良村には「かりこぼうず」という精霊についての民話が100以上ある(https://www.chusankan.net/blog/nishimera/archives/2009/09/post-9.html)。<br />
人の話を聞きたいように聞く癖があるので多分文化人類学には向いていない。一応教授にハンドリングしてもらってなんとかなっている。よく人の話を聞いて勝手に感心している(分かっていない)。<br />
あんまり話を聞いていないのに断片的には覚えており、なおかつ誰が話していたことだったかは忘れるので、変な形で受け売りしていることがよくある。専門的な話を一般人受けする雑な解釈で広めている「邪悪」の正体はコイツだ。<br />
<br />
割と甘やかされて育った。一人っ子。<br />
<br />
徒波とは民話収集をする以前に噂話の拡散や発展のプロセスを調査していた時に話を聞かせてもらいに事務所を訪ねたことで知り合った。<br />
勝手に手伝って駄賃をもらっているがバイトではない。<br />
<br />
「我が子を食らうサトゥルヌス」で覚えてください。</p>
