<section>
    <div class="gallery">
        {% assign images = site.data.tarot %}
        {% for image in images %}
        <div class="gallery-item">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.alt }}" style="width: 100%;" class="thumbnail">
        </div>
        {% endfor %}
    </div>
</section>
<div class="modal" id="modal">
    <span class="close" id="close">&times;</span>
    <div class="modal-content">
        <img id="modalImg" alt="拡大画像">
    </div>
</div>
<script src="{{ site.baseurl }}/script/modal-window.js"></script>
