<h2>海河 康</h2>
<p>システム: CoC</p>
<p>年齢: 29歳 身長: 176 体重: 55</p>
<p>潔癖症。何に触った後もウェットティッシュで手を拭いている。そうすると皮脂が取れすぎてガサガサになるのでハンドクリームもこまめに塗っている。<br />
他人や人工物はダメだけど、虫とか土は大丈夫。犬猫はダメ。本人にもはっきりとは分からないが基準がある。<br />
それから、自分や、自分みたいなものだと認識したものに触れる時は特に気にならない。自分の服とか、めちゃくちゃに大事な人とか。<br />
<br />
嫌なことについて反応するとき、受け流す方向性になりがち。正面から怒ったりはあまりしない。<br />
<br />
大学時代はリトグラフで版画を作っていた。描いている時間も好きだが、ぼーっと製版している時間も好き。<br />
<br />
世界の色々な宗教が好きで、特にちょっとマイナーだったり、異端扱いされていたものとかが好き。グノーシス主義とか、ゾロアスター教とか。<br />
<br />
喫煙者。<br />
<br />
案ずるより産むがやすしで覚えてください。<br />
<br />
4/4生まれ</p>
