<h2>殻尾 洋</h2>
<p>システム: CoC</p>
<p>年齢: 17歳 身長: 173cm 体重: 52kg</p>
<p>オカ研の部長。<br />
色々と嫌になった時にネットの都市伝説で知った「飽きた」とか「タットワの技法」をやってみたが特に何も起こらなかったので、もう少しまともなものはないのかと調べているうちに気付いたらオカ研を立ち上げて部長になっていた。<br />
人の顔が覚えられない。<br />
オカ研に集まる面々は色々問題を抱えており、部長としてまとめるのも大変。オカ研というよりは実質自助グループの様相を呈している。<br />
やたらと流血を伴う儀式をやろうとしがちな部員を止めるのが一番苦労した。根気よく会話しているうちに問題行動が減ったが、なんか最終的に部活を辞めた。まともになると辞めるらしい。<br />
放置していてもいい程度におかしい人々が安定して部に定着している。<br />
寒さに弱いのでギリギリまで冬服を着ていることが多い。<br />
長男。弟と妹がいる。<br />
兄弟の中で自分だけ陰の者。<br />
成績はあまり良くはないが弟と妹は輪をかけて悪い。<br />
お菓子を食べる習慣が全くない家庭なので自分も食べない。遠足くらいしか食べる機会がなかった。<br />
<br />
カラビ・ヤウ多様体で覚えてください。</p>
