<h2>鷽唐 誠</h2>
<p>システム: CoC</p>
<p>年齢: 32歳 身長: 188 体重: 75</p>
<p>クソ長身。実直な男。周囲からはマシーンと呼ばれている。感情をあまり表に出さないが、感情がないわけではない。よく見れば若干口角が上がったり下がったりしているので、慣れればどういう感情なのか推し量ることが出来る。<br />
<br />
休日に都内のラーメン屋を巡るのが趣味。好きなのは家系。直近で食べたものだと生姜ラーメンが結構うまかった。<br />
本を読む時いつもあとがきから読んでしまう。あとがきだけ読んで積んである本まである。<br />
<br />
父は厳格な人間で非常に強い存在であった。そんな父に対し恐れを抱いていたが、自分が歳を重ねるにつれ、だんだんその辺のおじいちゃん然としてきた父に、なんとも言えない感情を抱いている。父は厳格といったが、どちらかというとやや理不尽であり、恨みとまではいかないまでもある種の悪感情は抱いていたわけで、それがなんというか、あたかも弱い存在のように、かわいそうに見えるというのが、納得がいかない。<br />
家族の皆も父には思うところがあったのだろう。母も、3つ下の弟も、今では父に連絡一つせず離れて暮らしているが、そんな父が時折忘れた頃に電話をかけてくるたび、声が老いていくのを聞いていると、一人のかわいそうな老人に見えるのだ。今では愛嬌さえ見せる。それが納得いかないのだ。哀れんでいる自分にだろうか。勝たなければならない存在の喪失にだろうか？</p>
